* {
margin: auto;
padding: 0px;
}

body {
    backround-color: #f8f7ff;
    font-family: Arial;
}

.main {
    width: 80%;
}

.menu {
    display: flex;
    margin: 40px;
    background-color: #8862ea;
    border-radius: 40px;
    height: 100px;
    box-shadow:
}

.block {
    margin: auto;
    text-align: center;
    border: thick solid #7474f8;
    border-radius: 50px;
    width: 80%;
    margin-bottom: 50px;
}

.first {
    position: relative;
    top: -260px;
    left: -300px
}

.first2 {
    position: relative;
    top: -260px;
    left: -300px
}

a {
  text-decoration: none;
}

a:hover {
    color: #c19aec;

.menu a {
    color: black;
    font-size: 35px;
}

menu a:hover {
    color: #6cc8ff;
}

.footer {
    height: 150px;
    background-color: #626c6c;
    font-size: 30px;
    text-align: center;
}

footer:hover {
    color: #919191;

.footer a {
    color: black;
    margin: 30px;
}
h2 {
    width: 70%;
    margin: auto;
    text-align: center;
}
